@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$nav-font: helvetica, sans-serif;
$brand-color: rgba;


body {
	max-width: 75rem;
	margin: 0 auto;
}
.background-image {
	background-image: url(../images/insightbg.jpg);
	max-width: 75rem;
	margin: auto;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
#outer-cont {
	width: 100%;
	height: 376px;
	position: relative;
}
#logo {
	position: absolute;
	width: 250px;
	top: 0px; 
	left: 0; 
	bottom: 0; 
	right: 0;
	margin: auto auto;
}
#login-form {
	text-align: center;
	margin: 0 auto;
	/*width: 50%;*/
}
.title-bar {
	bottom: 0;
}
label {
	text-align: center !important;
}
/*.top-bar, .top-bar ul, .top-bar-left, .top-bar-left {
	background-color: rgba(0, 0, 0, 0.8);
}*/
/*#example-menu {
	background-color: rgba(0, 0, 0, 0.8);
}
.top-bar, .top-bar ul li a, .tob-bar-right, .menu {
	background-color: rgba(0, 0, 0, 0.8);
}
.top-bar-section {
   li {
      background-color: transparent !important; 
   }
}*/
.top-bar {
    background-color: rgba(0, 0, 0, 0.6);
}
.top-bar ul {
	background-color: transparent;
	z-index: 10;
}
#nav-bot {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.search-style {
	border: 0px solid black;
	border-radius: 5px;
	background-color: rgba(236, 236, 236, 0.15 );
	color: white;
}
.search-style:focus {
	background-color: transparent;
}
.nav-links {
	color: white;
}
.title-bar {

	bottom: 0;
	width: 100%;
}
#bottom{

	bottom: 0;
}
.menu-text {
	color: white;
}
/*.top-bar-left li {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.8);
}
.top-bar-right li {
	background-color: rgba(0, 0, 0, 0.8);
}*/

/*.top-bar-section li a:not(.button) {
    background-color: blue !important;   
}

.top-bar-section li a:not(.button):hover {
    background-color: green !important;   
}

.top-bar-section ul li.active > a {
    background-color: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background-color: yellow !important;   
}*/